{{ define "main" }}
<section class="container prose">
  <h1>{{ .Title }}</h1>
  <p>For speaking and media, please reach out.</p>
  <ul>
    <li>Email: <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
    {{ with .Site.Params.phone }}<li>Phone: {{ . }}</li>{{ end }}
    {{ with .Site.Params.address }}<li>Office: {{ . }}</li>{{ end }}
    {{ with .Site.Params.orcid }}<li>ORCID: <a href="{{ . }}">{{ strings.TrimPrefix "https://" . }}</a></li>{{ end }}
    {{ with .Site.Params.google_scholar }}<li><a href="{{ . }}">Google Scholar profile</a></li>{{ end }}
  </ul>
</section>
{{ end }}
